<div class="blog-border">
  <div class="blog-format">
    <div>
      <%= cl_image_tag @blog_post.photo, height: 280, width: 718, crop: :fill %>
    </div>
    <div class="description">
      <h3><%= @blog_post.title %></h3>
      <p>
        <%= auto_link(simple_format(@blog_post.content)) %>
      </p>
    </div>
  </div>
</div>
