<div class="footer">
  <div class="footer-nav">
    <div class="footer-nav-website">
      <div class="footer-nav-website-item">
        <h4>CHI SIAMO</h4>
        <ul>
          <li>Il Progetoo</li>
          <li>Staff</li>
          <li>Contatti</li>
        </ul>
      </div>
      <div class="footer-nav-website-item">
        <h4>COSA FACCIAMO</h4>
        <ul>
          <li>Educazione e formazione</li>
          <li>Arte e Turismo</li>
          <li>Agricoltura e allevamento</li>
          <li>Servizi Sociali</li>
          <li>Sport</li>
        </ul>
      </div>
      <div class="footer-nav-website-item">
        <h4>PARTI CON NOI</h4>
        <ul>
          <li>Volontariato</li>
          <li>Internship</li>
        </ul>
      </div>
      <div class="footer-nav-website-item">
        <h4>NEWS</h4>
        <ul>
          <li>Diario</li>
          <li>News da Nyandiwa</li>
        </ul>
      </div>
    </div>
    <div class="footer-nav-social">
      <div class="footer-nav-social-item">
        <a href="www.facebook.com"><i class="fa fa-facebook fa-3x" aria-hidden="true"></i></a>
      </div>
      <div class="footer-nav-social-item">
        <a href="www.instagram.com"><i class="fa fa-instagram fa-3x" aria-hidden="true"></i></a>
      </div>
      <div class="footer-nav-social-item">
        <a href="www.youtube.com"><i class="fa fa-youtube fa-3x" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
  <div class="footer-address">
    <div class="footer-address-content">
      <h5>IKSDP NYANDIWA</h5>
      <p>Progetto Harambee - Via Burigozzo 11, Milano  mail: harambeeproject@iksdp.net - 02010101</p>
    </div>
  </div>
</div>
