<div class="banner">
  <img src="http://placehold.it/1240x720" alt="" />
    <div class="project-banner-title">
      <h1>AGRICOLTURA E ALLEVAMENTO</h1>
    </div>
</div>
<div class="description">
  <p>
    In linea con la sua origine scout, IKSDP ha sempre creduto fortemente nel valore dell’esempio. È con questo spirito che sono nati i progetti legati all’agricoltura e all’allevamento.
    L’obiettivo è fornire alla popolazione locale dei modelli concreti, in piccola scala e facilmente replicabili, di attività produttive. In linea con il principio dell’autosviluppo, IKDPS nel corso degli anni ha avviato una serie di attività di dimensioni volutamente ridotte, con investimenti iniziali limitati e sostenibili, di modo che gli abitanti di Nyandiwa possano prendere spunto e avviare a loro volta delle attività agricole.
  </p>
</div>
<div class="card">
  <div>
    <img src="http://placehold.it/512x180" alt="" />
  </div>
  <div class="card-text-right">
    <h4>ALLEVAMENTO</h4>
    <p>
      Attualmente i recinti del centro IKSDP contano una mucca, usata per la produzione di latte venduto al College e alla comunità, un vitello, 10 polli e galline ovaiole che producono carne e uova consumati e venduti dal centro IKSDP; infine, tre vasche per l’itticoltura che conta diversi esemplari di pesce persico.
    </p>
  </div>
</div>
<div class="card">
  <div class="card-text-left">
    <h4>ITTICOLTURA</h4>
    <p>
      La popolazione della comunità di Nyandiwa attinge alle risorse del lago Vittoria, e basa parte della propria alimentazione sulla pesca. A questa,  è stata affiancata la costruzione di tre vasche per l’itticoltura, che contano diversi esemplari di pesce persico, al fine di favorire una più facile variazione della dieta quotidiana.
    </p>
  </div>
  <div>
    <img src="http://placehold.it/512x180" alt="" />
  </div>
</div>
<div class="card">
  <div>
    <img src="http://placehold.it/512x180" alt="" />
  </div>
  <div class="card-text-right">
    <h4>AGRICOLTURA</h4>
    <p>
      finalizzata alla valorizzazione del territorio e dell’ambiente, l’attività agricola si estende sul suolo di Kitawa, area limitrofa a Nyandiwa. In questo sito naturalistico sono coltivate piante di jatropha e di girasole, i cui semi vengono poi usati per la produzione di olio, materiale fertilizzante e combustibile. L’attività dell’oleificio è stata possibile grazie alla donazione di una macchina spremitrice da parte del gruppo Calabria for Harambee. Tale macchinario ha portato a compimento l’intera catena produttiva e, nella zona, è l’unico esempio positivo realizzato in tal senso.
    </p>
  </div>
</div>
<div class="card">

  <div class="card-text-left">
    <h4>ORTO COMUNITARIO</h4>
    <p>
      all’interno del centro IKSDP, grazie alla collaborazione con Fondazione Slow Food, è presente un orto nel quale vengono coltivate verdure e alberi da frutta per il sostentamento alimentare del college e, in casi di sovrapproduzione, per la vendita all’esterno.
    </p>
  </div>
  <div>
    <img src="http://placehold.it/512x180" alt="" />
  </div>
</div>
