<div class="banner">
  <img src="http://res.cloudinary.com/dfeoxpejq/image/upload/c_scale,w_1366/v1491899506/Sfondo_Contattatci_nex9lc.jpg" alt="" />
    <div class="project-banner-title">
      <h1>CONTATTACI</h1>
    </div>
</div>
<div class="contact-wrapper">
  <div class="contact-content">
    <div class="contact-left-column">
      <h4>CONTACT US DIRECT</h4>
      <p><i class="fa fa-phone"></i>
      <a href="tel:+44-203-488-1184">+44(0) 20 3488 1184</a></p>
      <p><i class="fa fa-envelope"></i>
       <%= link_to "harambeeproject@iksdp.net ", "mailto:harambeeproject@iksdp.net " %>
      </p>
      <p><i class="fa fa-smile-o"></i>
       <%= link_to "Apply to work with us", new_intern_path %>
      </p>
    </div>
    <div class="contact-right-column">
      <h4>SEND US A MESSAGE</h4>
      <form action="http://formspree.io/iksdpnyandiwa@gmail.com" method="POST" id="contact-form-home">
        <label>
          <span>Your Name</span><input class="contact-input" type="text" name="Contact Name" style="color: black;">
        </label>
        <label>
          <span>Your Phone Number</span><input class="contact-input" type="tel" name="Contact Phone" style="color: black;">
        </label>
        <label>
          <span>Your Email</span><input class="contact-input" type="email" name="Contact Email" style="color: black;">
        </label>
        <label>
          <input class="btn btn-primary submit-button-beaco" type="submit" value="Send" style="color: white;">
        </label>
        <label>
          <input type="text" name="_gotcha" style="display:none" />
        </label>
      </form>
    </div>
  </div>
</div>

