<div class="banner">
  <img src="http://res.cloudinary.com/dfeoxpejq/image/upload/c_scale,w_1240/v1491228399/Sfondo_Arte_e_Cultura_qnsgkv.jpg" alt="" />
    <div class="project-banner-title">
      <h1>ARTE, CULTURA E TURISMO</h1>
    </div>
</div>
<div class="description">
  <p>
    Lo sviluppo di una comunità passa anche e soprattutto dal tessuto artistico e culturale di cui essa dispone. A Nyandiwa l’arte ha acquisito una posizione centrale, dando alla luce numerose iniziative ed attività finalizzate alla diffusione della stessa come veicolo di sviluppo collettivo.
  </p>
</div>
<div class="card">
  <div>
    <img src="http://res.cloudinary.com/dfeoxpejq/image/upload/c_scale,w_540/v1491228420/Creative_Centre_z95qb0.jpg" alt="" />
  </div>
  <div class="card-text-right">
    <h4>CREATIVE CENTER</h4>
    <p>
      Nasce nel 2009 dall’idea di un gruppo di giovani artisti e artigiani, che si propongono di valorizzare le attività artistiche della zona attraverso la produzione di oggetti di qualità, e di creare un mercato per le opere prodotte, sia per i locali che per i turisti.  Gli oggetti prodotti dal Creative Centre, oggi associazione riconosciuta dal governo keniano, spaziano dalle borse in tessuto a portachiavi in osso, da sculture in argilla a quadri e pitture su tela. Prodotti artistici di ogni misura e dimensione, che possono essere acquistati direttamente in loco presso il Centro Scout IKSDP Nyandiwa o in Italia, consultando il catalogo e contattando il centro vendita presente nel meraviglioso contesto di Ecolandia a Reggio Calabria.
    </p>
  </div>
</div>
<div class="card">
  <div class="card-text-left">
    <h4>NYAMGONDHO MINI PARK</h4>
    <p>
      Nel corso del tempo, il Creative Centre ha sempre più attratto grandi professionalità artigiane, arrivando oggi all’ideazione di un progetto artistico volto alla valorizzazione del territorio ed all’aumento del potenziale turistico dell’area. In questo senso, Arte e Turismo dialogano attivamente nella creazione di valore diffuso per l’intera comunità.
    </p>
  </div>
  <div>
    <img src="http://res.cloudinary.com/dfeoxpejq/image/upload/c_scale,w_540/v1491228409/Mini_park_ajsqwt.jpg" alt="" />
  </div>
</div>
<div class="card">
  <div>
    <img src="http://res.cloudinary.com/dfeoxpejq/image/upload/c_scale,w_540/v1491228425/IMG_0230_t8t75h.jpg" alt="" />
  </div>
  <div class="card-text-right">
    <h4>TURISMO SOLIDALE</h4>
    <p>
      Dal 2016 verrà implementata la prima esperienza di turismo solidale, momento in cui il turista sarà invitato a vivere la quotidianità degli abitanti di Nyandiwa e le famiglie locali saranno invitate ad accogliere il turista creando le condizioni migliori per un dialogo costruttivo tra culture all’insegna dell’apertura e dello scambio. Per maggiori informazioni scrivere a info@iksdpnyandiwa.net o contattare Antonio Labate labate.a@libero.it.
    </p>
  </div>
</div>

