<div class="banner">
  <img src="http://res.cloudinary.com/dfeoxpejq/image/upload/c_scale,w_1366/v1491749114/Sfondo_Sostienici_knnf81.jpg" alt="" />
    <div class="project-banner-title">
      <h1>SOSTIENICI</h1>
    </div>
</div>
<div class="donations-card-container">
  <div class="donations-card-item">
    <h5>5 X MILLE</h5>
    <p>Anche la Fondazione Brownsea è stata inserita tra le Organizzazioni ONLUS, a cui è possibile far destinare dallo Stato il 5 per mille della propria dichiarazione dei redditi. Per fare questo, è sufficiente al momento della dichiarazione dei redditi, firmare il modulo del 5 per mille e indicare il codice fiscale della Fondazione: n. 82003470125</p>
    <h5>n. 82003470125</p>
    <h5></h5>
  </div>
  <div class="donations-card-item-central">
    <h5>PAYPAL</h5>
    <p>Veloce e sicuro. Basta un click per sostenere le iniziative del Progetto Harambee!</p>
  </div>
  <div class="donations-card-item">
    <h5>BONIFICO</h5>
    <p><b>Conto Corrente Bancario:</b> Fondazione Brownsea Onlus, via Burigozzo 11 – 20122 Milano,<br /> presso Banca Popolare di Milano, agenzia 3 Milano,<br /> Conto n. 15554 –<br /> ABI 05584 –<br /> CAB 01603,<br /> IBAN: IT17I0558401603000000015554,<br /> BIC: BPMIITMMXXX,<br /> Causale: Progetto Harambee Gwassi</p>
  </div>
</div>
