<div class="banner">
  <img src="http://placehold.it/1240x720" alt="" />
    <div class="project-banner-title">
      <h1>EDUCAZIONE E FORMAZIONE</h1>
    </div>
</div>
<div class="card">
  <div>
    <img src="http://placehold.it/512x180" alt="" />
  </div>
  <div class="card-text-right">
    <h4>TOGETHER HARAMBEE</h4>
    <p>
      E’ stato avviato l’ultimo nuovo Progetto promosso
      dalla Fondazione Brownsea-IKSDP, Innext e Google for Education con l’obiettivo di fornire gratuitamente agli studenti,
      al corpo docente e al personale dell’ IKSDP-Nyandiwa Teachers Training College la possibilità di comunicare in autonomia e facilità.
      L’importanza di tale idea risiede proprio nell’attivazione di una rete di interconnessioni relazionali, online e o ine.
      Lo scopo è trasferire le competenze ai bene ciari,
      in modo da incentivare lo sviluppo educativo e professionale in senso globale.
    </p>
  </div>
</div>
<div class="card">
  <div class="card-text-left">
    <h4>TOGETHER HARAMBEE</h4>
    <p>
      E’ stato avviato l’ultimo nuovo Progetto promosso
      dalla Fondazione Brownsea-IKSDP, Innext e Google for Education con l’obiettivo di fornire gratuitamente agli studenti,
      al corpo docente e al personale dell’ IKSDP-Nyandiwa Teachers Training College la possibilità di comunicare in autonomia e facilità.
      L’importanza di tale idea risiede proprio nell’attivazione di una rete di interconnessioni relazionali, online e o ine.
      Lo scopo è trasferire le competenze ai bene ciari,
      in modo da incentivare lo sviluppo educativo e professionale in senso globale.
    </p>
  </div>
  <div>
    <img src="http://placehold.it/512x180" alt="" />
  </div>
</div>
<div class="card">
  <div>
    <img src="http://placehold.it/512x180" alt="" />
  </div>
  <div class="card-text-right">
    <h4>TOGETHER HARAMBEE</h4>
    <p>
      E’ stato avviato l’ultimo nuovo Progetto promosso
      dalla Fondazione Brownsea-IKSDP, Innext e Google for Education con l’obiettivo di fornire gratuitamente agli studenti,
      al corpo docente e al personale dell’ IKSDP-Nyandiwa Teachers Training College la possibilità di comunicare in autonomia e facilità.
      L’importanza di tale idea risiede proprio nell’attivazione di una rete di interconnessioni relazionali, online e o ine.
      Lo scopo è trasferire le competenze ai bene ciari,
      in modo da incentivare lo sviluppo educativo e professionale in senso globale.
    </p>
  </div>
</div>
<div class="card">

  <div class="card-text-left">
    <h4>TOGETHER HARAMBEE</h4>
    <p>
      E’ stato avviato l’ultimo nuovo Progetto promosso
      dalla Fondazione Brownsea-IKSDP, Innext e Google for Education con l’obiettivo di fornire gratuitamente agli studenti,
      al corpo docente e al personale dell’ IKSDP-Nyandiwa Teachers Training College la possibilità di comunicare in autonomia e facilità.
      L’importanza di tale idea risiede proprio nell’attivazione di una rete di interconnessioni relazionali, online e o ine.
      Lo scopo è trasferire le competenze ai bene ciari,
      in modo da incentivare lo sviluppo educativo e professionale in senso globale.
    </p>
  </div>
  <div>
    <img src="http://placehold.it/512x180" alt="" />
  </div>
</div>
