<div class="banner">
  <img src="http://res.cloudinary.com/dfeoxpejq/image/upload/c_scale,w_1366/v1491227797/Sfondo_Education_gggnxh.jpg" alt="" />
    <div class="project-banner-title">
      <h1>EDUCAZIONE E FORMAZIONE</h1>
    </div>
</div>
<div class="card">
  <div>
    <img src="http://res.cloudinary.com/dfeoxpejq/image/upload/c_scale,w_540/v1491855152/TogHar_large-03_qdn5nx.png" alt="" />
  </div>
  <div class="card-text-right">
    <h4>TOGETHER HARAMBEE</h4>
    <p>
      E’ stato avviato l’ultimo nuovo Progetto promosso
      dalla Fondazione Brownsea-IKSDP, Innext e Google for Education con l’obiettivo di fornire gratuitamente agli studenti,
      al corpo docente e al personale dell’ IKSDP-Nyandiwa Teachers Training College la possibilità di comunicare in autonomia e facilità.
      L’importanza di tale idea risiede proprio nell’attivazione di una rete di interconnessioni relazionali, online e o ine.
      Lo scopo è trasferire le competenze ai bene ciari,
      in modo da incentivare lo sviluppo educativo e professionale in senso globale.
    </p>
  </div>
</div>
<div class="card">
  <div class="card-text-left">
    <h4>TEACHERS TRAINING COLLEGE</h4>
    <p>
      Primo grande progetto Harambee, fortemente voluto dalla popolazione locale e nato nel 2008. Il College accoglie oggi più di 150 studenti, suddivisi nei vari corsi per l’abilitazione all’insegnamento, nella scuola primaria e nella scuola dell’infanzia. Gli studenti iscritti hanno la possibilità di seguire i due anni di corsi nel secondo migliore college del Kenya, che vede di anno in anno aumentare le richieste di immatricolazione. Nel 2016, grazie ad una donazione da parte di un gruppo scuole tedesche, è stato possibile costruire una Biblioteca nella quale vengono messi a disposizione degli studenti i testi necessari per la didattica e molteplici volumi per approfondire le diverse materie.
    </p>
  </div>
  <div>
    <img src="http://res.cloudinary.com/dfeoxpejq/image/upload/c_scale,w_540/v1491227802/Momenti_di_vita_del_College_3_m74ikp.jpg" alt="" />
  </div>
</div>
<div class="card">
  <div>
    <img src="http://res.cloudinary.com/dfeoxpejq/image/upload/c_scale,w_540/v1491854084/computer_i97nza.png" alt="" />
  </div>
  <div class="card-text-right">
    <h4>COMPUTER SERVICES</h4>
    <p>
      A partire dal 2010, il Centro IKSDP offre alla comunità di Nyandiwa e dintorni una gamma differenziata di corsi di informatica (Video Editing, Web Design, Basic IT essential, ecc.), tenuti dal docente di informatica e responsabile dell’ICT del centro, Janes Opiyo.
    </p>
  </div>
</div>
<div class="card">

  <div class="card-text-left">
    <h4>ASILO</h4>
    <p>
      È una struttura di grande valore per la comunità di Nyandiwa. I bambini iscritti sono in media 90 per anno e lo staff docente è rappresentato da due insegnanti che gestiscono le tre classi di bambini ed impartiscono loro le materie base per l’educazione primaria.
    </p>
  </div>
  <div>
    <img src="http://res.cloudinary.com/dfeoxpejq/image/upload/c_scale,w_512/v1491227816/asilo_fybihq.jpg" alt="" />
  </div>
</div>
