<div class="banner">

  <img src="http://placehold.it/1240x720" alt="" />
  <h2 class="banner-title">HARAMBEE</h2>
  <p class="banner-description">Lavorare insieme per uno sviluppo concreto e sostenibile</p>


</div>
<div class="description">
  <p>
    Harambee è un Progetto  finalizzato allo sviluppo della comunità di Nyandiwa e dell’intera area circostante estesa sulle sponde del Lago Vittoria.
  </p>
  <p>
    Il Progetto Harambee rifiuta ogni forma di assistenzialismo sostenendo il valore del lavorare insieme alla comunità locale attraverso la pratica di micro realizzazioni sostenibili e replicabili.
  </p>
</div>
<div>

</div>
<div>

</div>
<div>

</div>
