<div class="banner">
  <img src="http://res.cloudinary.com/dfeoxpejq/image/upload/c_scale,h_720,w_1280/v1490644417/Sfondo_Home_tfhz4p.jpg" alt="" />
    <div class="banner-title">
      <h1>HARAMBEE</h1>
      <p style="margin-top: 5px;">Lavorare insieme per uno sviluppo concreto e sostenibile.</p>
    </div>
</div>
<div class="description">
  <p>
    Harambee è un Progetto  finalizzato allo sviluppo della comunità di Nyandiwa e dell’intera area circostante estesa sulle sponde del Lago Vittoria.
  </p>
  <p>
    Il Progetto Harambee rifiuta ogni forma di assistenzialismo sostenendo il valore del lavorare insieme alla comunità locale attraverso la pratica di micro realizzazioni sostenibili e replicabili.
  </p>
</div>
<div class="banner">
  <img src="http://res.cloudinary.com/dfeoxpejq/image/upload/c_scale,w_1280/v1491229566/Foto_Corpo_Paragrafo_vgu3wq.jpg" alt="" />
</div>
<div class="objectives-section">
  <h2 class="objectives-section-title">GLI OBBIETTIVI DEL PROGETTO</h2>
  <div class="objectives-section-container">
    <div class="objectives-section-item">
      <div class="objectives-section-item-icon">
        <i class="fa fa-heart-o fa-5x"></i>
      </div>
      <div class="objectives-section-item-text">
        <h4>MIGLIORARE LE CONDIZIONI DI VITA</h4>
      </div>
    </div>
    <div class="objectives-section-item">
      <div class="objectives-section-item-icon">
        <i class="fa fa-graduation-cap fa-5x" aria-hidden="true"></i>
      </div>
      <div class="objectives-section-item-text">
        <h4>FORNIRE SERVIZI EDUCATIVI</h4>
      </div>
    </div>
    <div class="objectives-section-item">
      <div class="objectives-section-item-icon">
        <i class="fa fa-suitcase fa-5x" aria-hidden="true"></i>
      </div>
      <div class="objectives-section-item-text">
        <h4>CREARE NUOVE CONDIZIONI DI LAVORO</h4>
      </div>
    </div>
  </div>
  <div class="objectives-section-container">
    <div class="objectives-section-item">
      <div class="objectives-section-item-icon">
        <i class="fa fa-medkit fa-5x"></i>
      </div>
      <div class="objectives-section-item-text">
        <h4>MIGLIORARE GLI STANDARD SANITARI</h4>
      </div>
    </div>
    <div class="objectives-section-item">
      <div class="objectives-section-item-icon">
        <i class="fa fa-line-chart fa-5x" aria-hidden="true"></i>
      </div>
      <div class="objectives-section-item-text">
        <h4>FAVORIRE LO SVILUPPO DELLA COMUNITA' LOCALE</h4>
      </div>
    </div>
    <div class="objectives-section-item">
      <div class="objectives-section-item-icon">
        <i class="fa fa-comments-o fa-5x" aria-hidden="true"></i>
      </div>
      <div class="objectives-section-item-text">
        <h4>COSTRUIRE RELAZIONI CON LA COMUNITA' LOCALE</h4>
      </div>
    </div>
  </div>
</div>
<div>
  <div class="description-smaller">
    <p>
      Tutto ciò può essere riassunto con una sola parola: “Harambee”,<br /> che in Swahili può essere tradotto con “Lavorare insieme”.
    </p>

  </div>
</div>
<div class="objectives-section">
  <h2 class="objectives-section-title">IN PARTNERSHIP CON</h2>
  <div class="objectives-section-container">
    <% if @sponsors %>
      <% @sponsors.each do |sponsor| %>
        <div class="avatar">
          <%= cl_image_tag sponsor.photo, height: 100, width: 100, crop: :fill %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
