<div class="banner">
  <img src="http://res.cloudinary.com/dfeoxpejq/image/upload/c_scale,w_1280/v1491227296/Sfondo_Progetto_vuwntr.jpg" alt="" />
    <div class="project-banner-title">
      <h1>IL PROGETTO</h1>
    </div>
</div>
<div class="description">
  <p>
    Il Progetto Harambee è nato nel 1983 sulle rive del Lago Vittoria nel villaggio di Nyandiwa (Kenya) dalla collaborazione tra la Fondazione Brownsea, l’associazione Kenya Scout, il World Scout Bureau Africa e la popolazione locale.
  </p>
</div>
<div class="banner">
  <img src="http://placehold.it/1240x270" alt="" />
</div>
<div class="description">
  <p>
    Il motore di tutte le iniziative è il Centro Scout Internazionale di Nyandiwa – IKSDP (International Kenyan Scout Development Project), ONG locale dove prendono vita e hanno sede tutte le attività.
  </p>
</div>
<div>
  <div class="description-picture">
    <img src="http://res.cloudinary.com/dfeoxpejq/image/upload/c_scale,w_520/v1491227305/Foto_Corpo_Paragrafo_qhcjex.jpg" alt="" />
  </div>
  <div class="description">
    <p>
      Il centro IKSDP si trova a Nyandiwa, penisola del lago Vittoria che fa parte della Divisione Gwassi,nel Kenya Occidentale, una delle regioni più povere del paese, con strade sterrate che collegano adiacenti villaggi di capanne, in cui manca l’elettricità e le comunicazioni postali sono molto precarie.
    </p>
    <%= link_to "Leggi le News", blog_posts_path, class: "navbar-wagon-button" %>
  </div>
</div>
