<div class="banner">
  <img src="http://placehold.it/1240x720" alt="" />
    <div class="project-banner-title">
      <h1>SERVIZI SOCIALI</h1>
    </div>
</div>
<div class="card">
  <div>
    <img src="http://placehold.it/512x180" alt="" />
  </div>
  <div class="card-text-right">
    <h4>OSTELLO</h4>
    <p>
      Dal 2004 dieci stanze, doppie, singole e multiple, sono messe a disposizione di coloro che cercano un alloggio all’interno del Centro IKSDP. L’ostello ospita regolarmente i volontari europei, i visitatori locali di passaggio o in vacanza ed è inoltre un punto di riferimento per le autorità̀ pubbliche in visita a Nyandiwa. Il reddito generato dall’affitto contribuisce al sostegno delle attività̀ e dei progetti intrapresi da IKSDP.
    </p>
  </div>
</div>
<div class="card">
  <div class="card-text-left">
    <h4>SOCIAL HALL</h4>
    <p>
      Il Centro Scout di Nyandiwa vuole essere in primo luogo un centro di aggregazione e socializzazione per la comunità locale. È Infatti proprio la comunità che ha evidenziato con il passare del tempo la necessità di una grande struttura in grado di ospitare raduni di scuole e associazioni, feste di comunità̀ e iniziative sociali di vario genere. Come risposta a tale richiesta, pienamente condivisa e appoggiata dalla comunità, è stata progettata la Social Hall, inaugurata con una grande festa nel 2002. Anche per questa attività, il reddito generato dall’affitto contribuisce al sostegno delle attività̀ e dei progetti intrapresi da IKSDP.
    </p>
  </div>
  <div>
    <img src="http://placehold.it/512x180" alt="" />
  </div>
</div>
<div class="card">
  <div>
    <img src="http://placehold.it/512x180" alt="" />
  </div>
  <div class="card-text-right">
    <h4>ACQUEDOTTO</h4>
    <p>
      Costruito nel 1991 e prima esperienza di collaborazione con la comunità locale, l’acquedotto di Nyadiwa riassume perfettamente la filosofia e gli obiettivi del progetto Harambee: rispondere al bisogno espresso e diffuso di avere acqua potabile nel centro abitato e organizza risorse umane e finanziarie disponibili tramite lo sforzo congiunto di volontari e abitanti del villaggio. È qui che è iniziato il nostro Progetto Harambee!
    </p>
  </div>
</div>
<div class="card">

  <div class="card-text-left">
    <h4>TRAGHETTO LACUSTRE</h4>
    <p>
      La necessità di spostarsi tra le isole del lago Vittoria ha portato alla nascita di un servizio di traghettamento tra la terraferma e le isole del lago. Il progetto ha visto le sue origini nel centro IKSDP andando ad integrarsi immediatamente con le attività di business del villaggio. Per tale motivo lo staff di IKSDP ha interrotto tale progetto in modo da creare nuovo spazio nel mercato per gli abitanti locali.
    </p>
  </div>
  <div>
    <img src="http://placehold.it/512x180" alt="" />
  </div>
</div>
<div class="card">
  <div>
    <img src="http://placehold.it/512x180" alt="" />
  </div>
  <div class="card-text-right">
    <h4>ACCESSO A INTERNET</h4>
    <p>
      il centro IKDSP mette a disposizione della comunità computer con accesso a internet e servizi di copisteria per soddisfare le molteplici esigenze.
    </p>
  </div>
</div>
