<div class="banner">
  <img src="http://res.cloudinary.com/dfeoxpejq/image/upload/c_scale,w_1280/v1491229249/Sfondo_Sport_llq5rq.jpg" alt="" />
    <div class="project-banner-title">
      <h1>SPORT</h1>
    </div>
</div>
<div class="card">
  <div>
    <img src="http://res.cloudinary.com/dfeoxpejq/image/upload/c_scale,h_540/v1491229267/Copia_di_20150709_162404_kosh0k.jpg" alt="" />
  </div>
  <div class="card-text-right">
    <h4>CENTRO SPORTIVO</h4>
    <p>
      Inaugurato nel 2015 l’Ongombe Stadium di Nyandiwa ha dato alla comunità locale la possibilità di svolgere e praticare diverse discipline sportive in un ambiente sicuro e confortevole. Gli sport praticati sono principalmente calcio e handball (Pallamano?). La struttura è dotata di un muro di cinta che delimita lo spazio, reti e pali per le porte da calcio, segnaletica che delimita il campo e servizi. Lo Stadio di Nyandiwa è l’unico di queste dimensioni nell’intera contea e per tale motivo rappresenta un punto di riferimento per tutti gli eventi, sportivi e non. Il terreno è stato donato da cinque famiglie della comunità locale che hanno compreso l’importanza dello sport come veicolo di educazione e valori etici condivisi.
    </p>
  </div>
</div>
<div class="card">
  <div class="card-text-left">
    <h4>EVENTI SPORTIVI</h4>
    <p>
      Dall’estate 2015 ad oggi sono numerosi gli eventi sportivi che si sono succeduti tra il centro IKSDP e l’Ongombe Stadium. Manifestazioni sportive di vario genere, dai grandi tornei di calcio che hanno coinvolto le scuole di tutta contea, alle partite tra squadre rappresentanti gruppi sportivi locali.
    </p>
  </div>
  <div>
    <img src="http://res.cloudinary.com/dfeoxpejq/image/upload/c_scale,w_540/v1491229256/Eventi_Sportivi_j8kdam.jpg" alt="" />
  </div>
</div>

