<div class="banner">
  <img src="http://placehold.it/1240x720" alt="" />
    <div class="project-banner-title">
      <h1>STAFF</h1>
    </div>
</div>
<div>
  <div class="staff-title">
    <h3>KENYA</h3>
  </div>
  <div class="staff-container">
    <div class="staff-card">
      <img src="http://placehold.it/175x175" alt="">
      <h6>Un Nome</h6>
    </div>
    <div class="staff-card">
      <img src="http://placehold.it/175x175" alt="">
      <h6>Un Nome</h6>
    </div>
    <div class="staff-card">
      <img src="http://placehold.it/175x175" alt="">
      <h6>Un Nome</h6>
    </div>
    <div class="staff-card">
      <img src="http://placehold.it/175x175" alt="">
      <h6>Un Nome</h6>
    </div>
    <div class="staff-card">
      <img src="http://placehold.it/175x175" alt="">
      <h6>Un Nome</h6>
    </div>
    <div class="staff-card">
      <img src="http://placehold.it/175x175" alt="">
      <h6>Un Nome</h6>
    </div>
    <div class="staff-card">
      <img src="http://placehold.it/175x175" alt="">
      <h6>Un Nome</h6>
    </div>
    <div class="staff-card">
      <img src="http://placehold.it/175x175" alt="">
      <h6>Un Nome</h6>
    </div>
  </div>
</div>
<div>

</div>
