/* Main class */
.navbar-wagon {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background-color: #FFFFFF;
  transition: all 0.3s ease;
  display: flex;
  height: 80px;
  padding: 0px 30px;
  opacity: 0.7;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #AF8CC0;
}

/* Optional class to fix the navbar on top */
.navbar-wagon-fixed {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 101;
  width: 1280px;
}

.navbar-menu-container{
  display: none;
}

.navbar-menu {
  position: fixed;
  left: 0px;
  top: 80px;
  z-index: 101;
  width: 1280px;
  height: 80px;
  background-color: #AF8CC0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  a {
    text-decoration: none;
    color: white;
    font-size: 15px;
  }
  a:hover {
    text-decoration: none;
    color: white;
    font-size: 15px;
  }
}

/* Navbar logo */
.navbar-wagon-brand img {
  width: 50px;
}

/* Navbar right section (with form, links, button) */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Navbar item */
.navbar-wagon-item {
  flex: 0 1 auto;
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar standard link */
.navbar-wagon-link {
  color: #000000;
  font-size: 15px;
  text-decoration: none;
}
.navbar-wagon-link:hover {
  color: #000000;
  text-decoration: none;
}

/* Navbar right button */
.navbar-wagon-button {
  opacity: 1;
  margin-left: 10px;
  padding: 0 20px;
  border-radius: 5px;
  line-height: 40px;
  background-color: #AF8CC0;
  color: white;
  font-size: 14px;
  border: 2px solid #AF8CC0;
  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
}
.navbar-wagon-button:hover {
  color: white;
  background: #AF8CC0;
  border-color: white;

}



/* Navbar dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}
