.banner {
  position: relative;
  width: 100%;

}

.banner-title {
  position: absolute;
  z-index: 100;
  font-size: 22px;
  font-weight: 300;
  text-align: center;
  line-height: 27px;
  color: black;
  left: 350px;
  top: 300px;
}

.project-banner-title {
  position: absolute;
  z-index: 100;
  font-size: 22px;
  font-weight: 300;
  text-align: center;
  line-height: 27px;
  color: black;
  left: 350px;
  top: 300px;
  right: 350px;
  bottom: 300px;
}
