.banner {
  position: relative;
  width: 100%;

}

.banner-title {

  font-size: 22px;
  font-weight: 300;
  text-align: center;
  line-height: 27px;
  color: black;
}

.banner-description {

  font-size: 22px;
  font-weight: 300;
  text-align: center;
  line-height: 27px;
  color: black;
}
