.card {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 75px;
  padding-top: 50px;
}

.card-text-right {
  p {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #000000;
  }
  h4 {
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    color: #000000;
  }
  text-align: left;
  margin-left: 100px;
}

.card-text-left {
  p {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #000000;
  }
  h4 {
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    color: #000000;
  }
  text-align: left;
  margin-right: 100px;
}

.blog-card {
  border-top: 1px solid #AF8CC0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 75px;
  padding-top: 50px;
}

.blog-card-text-right {
  p {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #000000;
  }
  h4 {
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    color: #000000;
  }
  text-align: left;
  margin-left: 100px;
  width: 518px;
}

.blog-border {
  border-top: 80px solid white;
}

.blog-format {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 75px;
  padding-top: 50px;
  flex-direction: column;
}

.contact-content {
  display: flex;
  justify-content: center;
  align-content: space-around;
}
.contact-left-column {
  width: 500px;
  height: 235px;
  background: rgba(255,255,255,0.1);
  margin: 0 40px 20px 0;
  padding: 20px;
  i {
    color: black;
    padding-right: 10px;
  }
  a {
    color: black;
    text-decoration: none;
  }
  a:hover {
    color: black;
  }
}
.contact-right-column {
  width: 500px;
  height: 670px;
  background: rgba(255,255,255,0.1);
  margin-left: 40px;
  padding: 20px;
}

.donations-card-container {
  display: flex;
  justify-content: center;
  align-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 75px;
  padding-top: 75px;
}

.donations-card-item {
  padding-left: 25px;
  padding-right: 25px;
  max-width: 400px;
  margin: 20px;
  text-align: left;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #000000;
  h5 {
    text-align: center;
  }
}

.donations-card-item-central {
  padding-left: 25px;
  padding-right: 25px;
  margin: 20px;
  text-align: left;
  font-size: 16px;
  max-width: 400px;
  font-weight: 300;
  line-height: 28px;
  color: #000000;
  border-right: 1px solid black;
  border-left: 1px solid black;
  h5 {
    text-align: center;
  }
}
