.description {
  width: 100%;
  background-color: white;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-right: 282px;
  padding-left: 282px;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #000000;
}

.description-smaller {
  width: 100%;
  background-color: white;
  padding-top: 85px;
  padding-bottom: 85px;
  padding-right: 282px;
  padding-left: 282px;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #000000;
}

.description-picture {
  width: 100%;
  background-color: white;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 282px;
  padding-left: 282px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.staff-title {
  text-align: center;
  padding-bottom: 25px;
  padding-top: 25px;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  color: #000000;
}

.staff-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 70px;
  padding-right: 70px;
  flex-wrap: wrap;
}

.staff-card {
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin: 35px;
}

.description-background {
  background: url('http://res.cloudinary.com/dfeoxpejq/image/upload/c_scale,w_1280/v1491319917/Foto_in_trasparenza_Stage_lonaft.jpg');
}

.description-background-vol {
  background: url('http://res.cloudinary.com/dfeoxpejq/image/upload/c_scale,w_1280/v1491854172/Momenti_di_vita_del_College_2_frmmzk.jpg');

}

.description-layer {
  background-color: rgba(255, 255, 255, 0.7);;

  height: 100%;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-right: 282px;
  padding-left: 282px;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #000000;

}
